$color-basic: white;
$color-decor: rgb(52, 231, 157);
$color-warning: rgb(148, 59, 24);
$background-color-dark: rgba(6, 41, 6, 0.8);
$background-color-basic: rgba(0, 0, 0, 0.5);
$background-color-light: rgba(250, 250, 250, 0.2);

//fonts
$font-family-basic: 'Roboto', sans-serif;
$font-family-title: 'Caprasimo', cursive;

//padding
$padding-basic: 30px;
$padding-small: 15px;
$padding-button-basic: 15px 30px;

//margin
$margin-basic: 20px;
$margin-top-basic: 30px;

// font-size
$font-size-basic: 18px;
$font-size-large: 30px;
$font-size-small: 15px;

// line-height
$line-height-basic: 23px;
$line-height-large: 35px;
$line-height-small: 20px;

//border-radius
$border-radius-basic: 20px;
$border-radius-large: 50%;

//shadows
$box-shadow-basic: 3px 3px 3px rgba(0, 0, 0, 0.5)
