$color-basic: white;
$background-color-basic: rgba(0, 0, 0, 0.5);

//padding
$padding-basic: 30px;
$padding-small: 20px;

// font-size
$font-size-basic: 20px;
$font-size-large: 30px;
$font-size-small: 15px;