@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-basic;
    background-image: url('./images/blob-scatter-haikei.svg');
    background-size: cover;

}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Caprasimo', cursive;
    letter-spacing: 2px;
    background-color: $background-color-basic;
    padding: $padding-basic;
    font-size: $font-size-large;
    line-height: $line-height-large;
}

h3 {
    padding: $padding-small;
}

h4 {
    padding: $padding-small;
    font-size: $font-size-small;
    line-height: $line-height-small;
}

a {
    text-decoration-color: $color-decor;
    color: $background-color-dark;
    text-decoration-thickness: 3px;
    text-decoration-style: wavy;
    transition: 200ms all ease-in-out;
    text-decoration-skip-ink: auto;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-color: $background-color-dark;
    text-decoration-style: solid;
    color: $color-decor;
    text-underline-offset: 5px;
}

img {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

input {
    padding: $padding-button-basic;
    border-radius: $border-radius-basic;
    border: none;
    background-color: $background-color-basic;
    color: $color-basic;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
}

button {
    border: none;
    border-radius: $border-radius-basic;
    color: $color-basic;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    padding: $padding-button-basic;
    background-color: $background-color-dark;
    letter-spacing: 1px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: $background-color-dark;
    background-color: $background-color-light;
}



