@import './_variables.scss';
@import './_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-basic;
    background-image: url('./images/blob-scatter-haikei.svg');
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: $font-family-basic;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    letter-spacing: 1px;
}

h1 {
    font-family: $font-family-title;
    letter-spacing: 2px;
    background-color: $background-color-basic;
    padding: $padding-basic;
    font-size: $font-size-large;
    line-height: $line-height-large;
}

h2, h3, h5 {
    padding: $padding-small;
}

h2 {
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    text-shadow: $box-shadow-basic;
}

h4 {
    padding: $padding-small;
    font-size: $font-size-small;
    line-height: $line-height-small;
}

h5 {
    color: $color-warning;
    font-size: $font-size-large;
    line-height: $line-height-large;
    font-family: $font-family-title;
    letter-spacing: 2px;
}

a {
    text-decoration-color: $color-decor;
    color: $background-color-dark;
    text-decoration-thickness: 3px;
    text-decoration-style: wavy;
    transition: 200ms all ease-in-out;
    text-decoration-skip-ink: auto;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-color: $background-color-dark;
    text-decoration-style: solid;
    color: $color-decor;
    text-underline-offset: 5px;
}

img {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

input {
    padding: $padding-button-basic;
    border-radius: $border-radius-basic;
    border: none;
    background-color: $background-color-basic;
    color: $color-basic;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
}

button {
    border: none;
    border-radius: $border-radius-basic;
    color: $color-basic;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    padding: $padding-button-basic;
    background-color: $background-color-dark;
    letter-spacing: 1px;
    box-shadow: $box-shadow-basic;
}

button:hover {
    border-radius: $border-radius-large;
    color: $color-decor;
    background-color: $background-color-basic;
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: $background-color-dark;
    background-color: $background-color-light;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;
    padding-top: $padding-basic;
}

@media screen and (width < 1400px){
    img {
        width: 20%;
    }
}

@media screen and (width < 1000px){
    img {
        width: 25%;
    }
}

@media screen and (width < 860px){
    #app {
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
    
    h1 {
        letter-spacing: 1px;
        padding: $padding-small;
        font-size: $font-size-basic;
        line-height: $line-height-basic;
    }
    
    h2, h3, h5 {
        padding: $padding-mobile;
    }
    
    h2 {
        font-size: $font-size-small;
        line-height: $line-height-small;
        text-shadow: $box-shadow-mobile;
    }
    
    h4 {
        padding: $padding-mobile;
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
    }
    
    h5 {
        font-size: $font-size-basic;
        line-height: $line-height-basic;
        letter-spacing: 1px;
    }
    
    a {
        text-decoration-thickness: 2px;
    }
    
    a:hover {
        text-underline-offset: 4px;
    }
    
    img {
        width: 30%;
    }
    
    input {
        padding: $padding-button-mobile;
        border-radius: $border-radius-small;
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
    
    button {
        border-radius: $border-radius-small;
        font-size: $font-size-small;
        line-height: $line-height-small;
        padding: $padding-button-mobile;
        box-shadow: $box-shadow-mobile;
    }
    
    button:hover {
        border-radius: $border-radius-basic;
    }
    
    footer {
        border-top-left-radius: $border-radius-basic;
        border-top-right-radius: $border-radius-basic;
        padding-top: $padding-small;
    }
}

@media screen and (width < 481px){
    #app {
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
    }
    
    h1 {
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
    
    h2, h3, h5 {
        padding: $padding-mobile-small;
    }
    
    h2 {
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
    }
    
    h4 {
        padding: $padding-mobile-small;
        font-size: $font-size-mobile-small;
        line-height: $line-height-mobile-small;
    }
    
    h5 {
        font-size: $font-size-small;
        line-height: $line-height-small;
    }
    
    a:hover {
        text-underline-offset: 3px;
    }
    
    img {
        width: 30%;
    }
    
    input {
        padding: $padding-button-mobile-small;
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
    }
    
    button {
        font-size: $font-size-mobile;
        line-height: $line-height-mobile;
        padding: $padding-button-mobile-small;
    }
}

